//  Colors
$color-bgc: #505369; ////
$bg-color: #505369;
$color-dark-gray: #111111;
$color-menu-items: #111111;
$color-menu-item--tablet: #222222;
$color-menu-item--desktop: #ffffff;

$green: #68b738;

//  Breakpoints
$mobile-only-width: 767px;
$tablet-width: 768px;
$desktop-width: 1300px;
